USE [master]
GO
/****** Object:  Database [NodeTest]    Script Date: 20-05-2019 22:03:09 ******/
CREATE DATABASE [NodeTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NodeTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NodeTest.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NodeTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NodeTest_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NodeTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NodeTest]
GO
/****** Object:  Table [dbo].[EventMaster]    Script Date: 20-05-2019 22:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventMaster](
	[event_Type] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[startDateTime] [datetime] NULL,
	[endDateTime] [datetime] NULL,
	[user_Id] [nvarchar](128) NULL,
	[id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_EventMaster_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemUsers]    Script Date: 20-05-2019 22:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SystemUsers](
	[UserName] [nvarchar](100) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[id] [nvarchar](128) NULL,
	[role] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EventMaster] ([event_Type], [name], [startDateTime], [endDateTime], [user_Id], [id]) VALUES (N'task', N'Project Work', CAST(0x0000AA5300E22E58 AS DateTime), CAST(0x0000AA5301241E08 AS DateTime), N'4C183F20-5C6E-4A86-8E26-74CA8F122CCE', N'9f045fc0-aff7-4342-9f48-b0245ea79a3c')
INSERT [dbo].[EventMaster] ([event_Type], [name], [startDateTime], [endDateTime], [user_Id], [id]) VALUES (N'Meeting', N'PRoject Work', CAST(0x0000AA5400A1070C AS DateTime), CAST(0x0000AA540124E414 AS DateTime), N'4C183F20-5C6E-4A86-8E26-74CA8F122CCE', N'cfa93d9e-7d9e-48ef-bd31-12408671e051')
INSERT [dbo].[EventMaster] ([event_Type], [name], [startDateTime], [endDateTime], [user_Id], [id]) VALUES (N'task', N'Project Work', CAST(0x0000AA5300A496C4 AS DateTime), CAST(0x0000AA5300E68B24 AS DateTime), N'4C183F20-5C6E-4A86-8E26-74CA8F122CCE', N'fb296170-8f20-4df8-9700-730b3c3b0f36')
INSERT [dbo].[SystemUsers] ([UserName], [PasswordHash], [PasswordSalt], [id], [role]) VALUES (N'Manager1', 0xACCF81FF43450B2827066904B98CE9CDC430CB1877766BBA3D156D8007EB8CDAD3CEBCE5D1D8907EC36AD2C7F4A39E4407BBC15AD62EB55FE43BED3142819160, 0x469C52D29D5083AAA072BC32475D566F7322084ED36D0E799B8B3B5058475DF87ED2C90D931DA1AD62778511F1B9999CA6ABBA149AB12D4DA86049AFA0C193DE0339C50170B5F4E8F511A78EBDA8833D7BC7818A546D11D151F075635805E9F6AFCA246B565266729051F97E6F4742CE27789D03AB5DF4D703193826EF8286BF, N'4C183F20-5C6E-4A86-8E26-74CA8F122CCE', N'Resource Manager')
INSERT [dbo].[SystemUsers] ([UserName], [PasswordHash], [PasswordSalt], [id], [role]) VALUES (N'Bhavin', 0x7BC919E1DB6B4808BABF52952C512A377AB56D969180D126D336D5E856CF229F0EA0DD83FC82E042DE8F5A8AFE21903DCBFE0D1A07F7907593D064283A35AFD6, 0xC908683B1B698B4D6BFA172C013444B19650F211DBA092C24A799C6A357DC6E8FFD019668D2ED80B4D4B9B073E6747B1AF9E782F13475F83FC4DBB50C31A0D5B21DFE6782D978FD7C5689DC7013CED0DFAD2BD2BCACD2B6EE10E9C5B8FD8AE6186B4B2DE24010FF3C3CCCFF33D85FEE11FBAF79FFF518C5D85DAD18A7CCDEAD5, N'2a0d5858-2486-4e0c-9882-576817cb8334', N'Normal User')
INSERT [dbo].[SystemUsers] ([UserName], [PasswordHash], [PasswordSalt], [id], [role]) VALUES (N'Nishant', 0xC64214745FBD7573779E0B51B40BB940D0659F2167A35A3B904A40D00C478159F0ED7E9284AC89B931E28E333602C1F457E86F777B584361E0771A15F31BC447, 0x4DEC3BF6988D039395630B78961CBE02E860D07590BCEBE8E8C16F34EE27622F9F5674E3879E0F37F18D0DA4523A709E251CD873EA232332B90AE4B2C51CEF7A38EE447D732E7CCAA4EB0D1DB32145D04CE469E867C41E03EEC4669475D9850DB862B6220D475FA870DC3D82FB1E7D9B932B1B6FD42076C6D7B2805DD7132192, N'9c288869-1b3b-45be-aa99-216cf6af39d2', N'Normal User')
USE [master]
GO
